@import '../../assets/styles/styles.scss';

.result-design-button {
    background-color: $secondary!important;
    margin: 2px;
}

.result-design-button.active {
    background-color: $primary!important;
}