@import '../../../assets/styles/styles.scss';

.game-result {
    position: relative;
    border: 1px solid $secondary!important;
    border-radius: 10px;
    background-color: $light-dark!important;
    overflow: hidden;
    transition: all 0.5s;

    min-width: 350px!important;
}

/*
.game-result:hover {
    cursor: pointer;
    transform: scale(1.01);
}
*/

.game-result .rating {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.game-result button {
    background-color: $primary;
    color: $dark;
    border: none;
}

.game-result button:hover {
    background-color: $secondary;
    color: $light-dark;
}