// custom variables
// $primary: #66FCF1;
// $secondary: #45A29E;
// $main-text-color: #C5C6C7;
// $dark: #0B0C10;
// $light-dark: #1F2833;

$primary: #68C232;
$secondary: #61892F;
$main-text-color: #FFFFFF;
$dark: #222629;
$light-dark: #474B4F;

// bootstrap variables override
$body-bg: $dark;